* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* important componet */
.special-header {
    color: #f6f6f6;
    font-size: 110px;
    word-spacing: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 800;
}

/* start commpent */
:root {
    --main_color: #10cab7;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.parent {
    height: 64px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    max-width: 1071px;



}

/* small */
@media (min-width:768px) {
    .contatiner {
        width: 750px;
    }

    .port {
        text-align: center;
    }

}

/* Meduim */
@media (min-width:992px) {
    .contatiner {
        width: 970px;
    }
}

/* big-screen */
@media (min-width:1200px) {
    .contatiner {
        width: 1170px;
    }
}

#logo::before {
    content: "";
    margin: 0px;
    width: fit-content;
    height: 21px;
    display: inline-block;
    border: 4px solid #24484f;
    margin-left: -20px;
    margin-top: -7.5px;
}

#logo {
    height: 28px;
    border-radius: 50%;
    border: 7px solid #10cab7 !important;
    width: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    transform: translate(5px, 1px);
    -webkit-transform: translate(5px, 1px);
    -moz-transform: translate(5px, 1px);
    -ms-transform: translate(5px, 1px);
    -o-transform: translate(5px, 1px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    position: relative;
}

#icon {
    width: 30px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 2px 0px;
    align-items: flex-end;
}

.icon-list {
    height: 2px;
    width: 100%;
    background-color: #24484f;
    display: block;
    margin-bottom: 5px
}

#two {
    transition: .3s;
    width: 60%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#icon:hover #two {
    width: 100%;
}

.links {
    position: absolute;
    right: 9px;
    background-color: #10cab7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    list-style: none;
    width: 106.48px;
    padding-left: 4px;
    display: none;
}

.links::before {
    content: "";
    border-style: solid;
    border-color: transparent transparent #10cab7 transparent;
    display: block;
    border-width: 14px;
    position: absolute;
    left: 75px;
    top: -28px;

}

/* ناقص انك تخلي اول حرف كابيتال */
.elements {
    display: block;
    width: 90%;
    padding-left: 3px;
    margin-bottom: 3px;
    border-bottom: 2px solid gray;
    border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#edit {
    border: none
}

.elements a {
    text-decoration: none;
}

.elements:hover {
    padding-left: 10px;
}

#nav:hover .links {
    display: block;
}

/* End of header */
/* start of services */
#services {
    background-image: url(../images/amazing-black-white-photography-beautiful-mountains-hills-with-dark-skies.jpg);
    background-size: cover;
    height: calc(100vh - 33px);
}

#services section h1 {
    margin: 0px;
    font-weight: bold;
    color: var(--main_color, blue);
    font-size: 50px;
}

.landing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 40px;
}

#services section p {
    width: 320px;
    line-height: 1.8;
    font-weight: 300;
    color: #777
}

::selection {
    background-color: gray;
}

/* end landing */
/* start features */
#feature-page {
    padding: 60px;
    background-color: #f6f6f6;
    align-items: center;
}

#features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;

}

.fetch {
    text-align: center;
    color: var(--main_color, blue);
}

.fetch h3 {
    font-weight: 800;
    color: #2c4755;
}

.fetch p {
    font-size: 17px;
    color: #777;
    line-height: 1.8;
}


/* end features */
/* start services */
.com {
    text-align: center;
}

.com p {
    margin-top: -30px;
    color: #6d6d6d;
    font-weight: 300px;
    font-size: 20px;
    word-spacing: normal;
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.image {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.col img {
    height: 90%;
    width: 260px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.col img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.image::after {
    content: "";
    height: calc(100% + 70px);
    width: 80px;
    background-color: #2c4755;
    position: absolute;
    top: -50px;
    z-index: -1;
    right: 0;
}

.srv {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-content: space-between;
}

@media (max-width:767px) {
    .srv {
        flex-direction: column;
        text-align: center;
    }

    .image {
        display: none;
    }
}

.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.fa-solid {
    color: var(--main_color);
    flex-basis: 40px;

}

.text {
    flex: 1;
}

.text h3 {
    margin-top: 0px;

}

.text p {
    color: #777;
    line-height: 1.8;
    font-weight: 300;

}

/* end of services */
/* start of portfolio */
.port {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 100px;
    justify-content: space-between;

}

.image2 {
    width: 300px;
    height: 300px;
    background-image: url(../images/WhatsApp\ Image\ 2023-01-09\ at\ 00.09.36.jpg);
    background-size: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 5px var(--main_color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.image2:hover {
    transform: translate(-10px);
    -webkit-transform: translate(-10px);
    -moz-transform: translate(-10px);
    -ms-transform: translate(-10px);
    -o-transform: translate(-10px);
}

.describe {
    color: #777;
    line-height: 1.8;
    font-weight: 300;

}

.original-port {
    background-color: #fafafa;
}

/* end of portfolio */
/* start of about  */
.pre-final {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-gap: 150px;
    margin-top: 60px;
    justify-content: center;
    align-items: stretch;
}

.imag-3 {
    width: 100%;
    height: 100%;
    background-image: url(../images/WhatsApp\ Image\ 2023-01-09\ at\ 00.09.36.jpg);
    background-size: cover;
    position: relative;
    box-shadow: 2px 2px 2px 2px #b7e9e9;
    right: -50px;
}

/* .image-3::before {
    content: "";
    display: block;
    height: 100%;
    border-style: solid;
    border-bottom-width: 40px;
    border-left-width: 40px;
    border-color: #fafafa;
    position: absolute;
    top: -21.5px;
    left: -21.5px;
    z-index: -1;
} */

.imag-3::after {
    content: "";
    display: block;
    border-style: solid;
    border-color: transparent transparent var(--main_color) var(--main_color);
    width: 30px;
    height: 170px;
    border-width: 50px;
    position: absolute;
    right: -110px;
    top: -45px;
    z-index: -1;
}

.text3 {
    position: relative;
    right: 0px;
    top: -20px;
    min-width: 400px;
}

#par-1 {
    line-height: 1.8;
    font-weight: 800;
    color: #334752;
}

hr {
    display: block;
    margin: 0px;
    width: 70%;
    border: 2px solid var(--main_color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* @media (min-width:768px){
    .pre-final{
        
    }
} */
/* end of about  */
/* start of contact */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
}

.yes{
    margin-top:100px;
    padding-left: 15px;
}
.final{
    color:var(--main_color);
    font-weight: 800;
    font-size: 35px;
}
.final-2{
    font-weight: 800;
    font-size: 25px;
}
.final-3{
    font-weight: 800;
}
.last{
    display: inline-block;
}
/* end of contact */
footer{
    text-align: center;
    background-color: #2c4755;
    height: 80px;
    padding-top:40px;
}